
*
{
    box-sizing: content-box;
    border: 1px solid lightgray;
    margin: 0px;
    padding:0px
}
#targetScore,
#score,
.instruction,
h1
{
    display:inline-block;
    
}

.gameInfo
{
   border: 3px solid yellow;
   background-color: blue;
}

#targetScore
{
    background-color: green;
    border: 1px solid red;
}
#score
{
    background-color: turquoise;
}


#total-score,
#your-score
{
    background-color: teal;
    
}
.instruction
{
    background-color: khaki;

}
.title
{
    margin-bottom:5px;
}
h1 
{
    background-color: lightcoral;
    padding:20px;  
}
