
*
{
    border: 1px solid lightgray;
    margin: 0px;
    padding:0px
}
#number,
#score,
.instruction,
h1
{
    display:inline-block;
    
}
#number
{
    background-color: green;
}
#score
{
    background-color: turquoise;
}

#total-score,
#your-score
{
    background-color: teal;
}
.instruction
{
    background-color: khaki;

}
.title
{
    margin-bottom:5px;
}
h1 
{
    background-color: lightcoral;
    padding:20px;  
}
